/*-------------------------------------
    SIDEBAR DUGME (STAY PRESSED)
-------------------------------------*/

.this-page-style {
	color: #d97652 !important;
	background: #fff !important;
}

/*-------------------------------------
    ADDITIONAL ITEMS
-------------------------------------*/

/*-------------------------------------
    MEDIAQUERIES
-------------------------------------*/

#calendar {
	max-width: 100%;
	height: 100%;
}
